/*字体图标样式*/
@font-face {
    font-family: 'iconfont';
    src: url('../iconfont/ux_1476873090_5946927/iconfont.eot'); /* IE9*/
    src: url('../iconfont/ux_1476873090_5946927/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../iconfont/ux_1476873090_5946927/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../iconfont/ux_1476873090_5946927/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../iconfont/ux_1476873090_5946927/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
/*css初始化*/
article, aside, blockquote, body, button, code, dd, dialog, div, dl, dt, fieldset, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, input, legend, li, nav, ol, p, pre, section, td, textarea, th, ul {
    margin: 0;
    padding: 0
}
body {
    min-width: 320px;
    max-width: 650px;
    margin: 0 auto;
    font-family: Arial, Helvetica, STHeiTi, sans-serif;
    background: #F2F2F2;
    font-size: 24px
}
@media screen and (min-width:320px) {
    html {
        font-size: 21.33px
    }
    body {
        font-size: 12px
    }
}
@media screen and (min-width:360px) {
    html {
        font-size: 24px
    }
    body {
        font-size: 12px
    }
}
@media screen and (min-width:375px) {
    html {
        font-size: 25px
    }
    body {
        font-size: 12px
    }
}
@media screen and (min-width:384px) {
    html {
        font-size: 25.6px
    }
    body {
        font-size: 14px
    }
}
@media screen and (min-width:400px) {
    html {
        font-size: 26.67px
    }
    body {
        font-size: 14px
    }
}
@media screen and (min-width:414px) {
    html {
        font-size: 27.6px
    }
    body {
        font-size: 14px
    }
}
@media screen and (min-width:424px) {
    html {
        font-size: 28.27px
    }
    body {
        font-size: 14px
    }
}
@media screen and (min-width:480px) {
    html {
        font-size: 32px
    }
    body {
        font-size: 15.36px
    }
}
@media screen and (min-width:540px) {
    html {
        font-size: 36px
    }
    body {
        font-size: 17.28px
    }
}
@media screen and (min-width:720px) {
    html {
        font-size: 48px
    }
    body {
        font-size: 23.04px
    }
}
@media screen and (min-width:750px) {
    html {
        font-size: 50px
    }
    body {
        font-size: 24px
    }
}
/* 清除小圆点 */
ul, ol {
    list-style: none;
}
/*清初a标签的下划线*/
a {
    text-decoration: none;
    color: #000;
}
/* 标题元素样式清除 */
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 500
}
/*默认字体*/
em, i {
    font-style: normal
}
/*点击的按钮的蓝色边框清除*/
input, button {
    outline-style: none;
    border: none;
}
img {
    max-width: 100%;
    vertical-align: top;
    border: 0;
}
/*清除浮动*/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
/*左浮动*/
.fl {
    float: left
}
/*右浮动*/
.fr {
    float: right
}
.w {
    margin: 0 auto;
    max-width: 15rem
}
/*居中*/
.ct {
    text-align: center
}
.mr_fl{
    margin-left: .4rem;
}
.mr_top{
    border-bottom: 1px solid #F2F2F2;
}
.mr_right{
    border-right: 1px solid #F2F2F2;
}
.bg{
    width: 15rem;
    height: .44rem;
    background: #F2F2F2;
}
.red{
    color: red;
}