/*头部*/
.FixedTop{
    width: 100%;
    max-width: 650px;
    height: 1.76rem;
    background: #ffc001;
    position: fixed;
    z-index: 1000;
}
.FixedTop a{
    display: block;
    top: .2rem;
}
.FixedTop .cation {
    width: .88rem;
    height: 1.4rem;
    background: url("../images/feilei.png") no-repeat;
    background-size: .88rem 1.4rem;
    position: absolute;
    left: .5rem;
}
.FixedTop .searchs{
    width: 100%;
    height: 1.76rem;
    padding-left: 1.8rem;
    padding-right: 2.1rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.FixedTop .search{
    display: block;
    width: 100%;
    height: 1.2rem;
    line-height: 1.3rem;
    border-radius: .18rem;
    background: #FEF1CE;
    color: #A9A9A9;
    position: relative;
    top: .3rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.FixedTop .search:before{
    content: "";
    width: .5rem;
    height: .6rem;
    background: url("../images/search.png") no-repeat;
    background-size: .5rem .6rem;
    display: block;
    position: absolute;
    left: .5rem;
    top: .3rem;
    z-index: 10000;
}
.FixedTop .search input{
    width: 100%;
    height: 1.2rem;
    border-radius: .18rem;
    position: absolute;
    background: #FEF1CE;
    text-indent: 1.4rem;
    font-size: .6rem;
}
.FixedTop .shopping{
    width: 1.3rem;
    height: 1.4rem;
    background: url("../images/gouwu.png") no-repeat;
    background-size: 1.3rem 1.4rem;
    position: absolute;
    right: .5rem;
}
.border{
    height: 1.76rem;
}
/*轮播图*/
.banner img{
    width: 100%;
    height: 100%;
}
/*分类*/
.sort{
    background: #fff;
    padding: .5rem 0 0 0;
    border-bottom: 1px solid #F2F2F2;
}
.sort li{
    width: 20%;
    float: left;
    text-align: center;
}
.sort li a{
    display: block;
    width: 100%;
}
.sort li img{
    width: 52%;
    height: 52%;
}
.sort li p{
    line-height: 1.5rem;
    padding-bottom: .1rem;
    color: #7B7F82;
    font-size: .5rem;
}
/*广告*/
.adver{
    height: 1.28rem;
    background: #fff;
    padding: .4rem 0;
}
.adver .title{
    width: 3rem;
    height: 1.28rem;
    background: url("../images/title.png") no-repeat;
    background-size: 3rem 1.28rem;
    float: left;
}
.adver .line{
    height: .9rem;
    border-left: 1px solid #DCDCDC;
    float: left;
    margin: .2rem 0 0 .4rem;
}
.adver .msg{
    float: left;
    height: 1.28rem;
    overflow: hidden;
}
.adver .msg a{
    display: block;
    width: 8.66rem;
    height: 1.28rem;
}
.adver .msg span{
    display: block;
    margin-left: .8rem;
    color: #333;
    font-size: .5rem;
}
.adver .msg span:nth-child(2){
    color: #B8B8B8;
}
/*抢购*/
.grab{
    background: #fff;
    padding-bottom: .2rem;
    overflow: hidden;
}
.grabTop{
    height: 1.6rem;
}
.grabTop .logo{
    width: 2.77rem;
    height: 1.6rem;
    background: url("../images/grab.png") no-repeat;
    background-size: 2.77rem 1rem;
    background-position: 0 .26rem;
}
.grabTop .tag{
    font-size: .6rem;
    position: relative;
    top: .66rem;
}
.grabTop .count{
    position: relative;
    top: .7rem;
}
.grabTop .count span{
    float: left;
}
.grabTop > a{
    margin-top: .56rem;
}
.grabTop > a > span{
    display: block;
    float: left;
    font-size: .4rem;
    border-radius: .3rem;
    background: #FFC001;
    padding: .02rem .26rem;
}
.grabTop > a i{
    font-size: .4rem;
    float: left;
    margin-right: .2rem;
    margin-top: .06rem;
    color: #8A8A8A;
}
/*抢购*/
.grab .swiper-containers .swiper-slide a {
    display: block;
    width: 100%;
}
.grab .b .swiper-slide img {
    width: 70%;
    height: 70%;
    border: 1px solid #dcdcdc;
}
/*/\/\/\/\/\/\/\/\/\/*/
/*超实惠*/
.pricerite img[src="images/loading.gif"]{
    display: block;
    width: 100%;
    height: 100%;
}
.s1 > a{
    background: url("../images/147427846372812625.png") no-repeat;
    background-size: 100% 1.2rem;
    border-bottom: 1px solid #fff;
}
.pricerite a {
    display: block;
    width: 100%;
    height: 1.2rem;
}
.pricerite-top{
    border-bottom: 1px solid #F2F2F2;
}
.pricerite-top a,.pricerite-bom a{
    display: block;
    width: 50%;
    height: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.pricerite-top a img,.pricerite-bom a img{
    display: block;
    width: 100%;
    height: 100%;
}
.pricerite-bom a{
    width: 25%;
}
/*生活家*/
.s2 > a{
    background: url("../images/146768148103752156.png") no-repeat;
    background-size: 100% 1.2rem;
    border-bottom: 1px solid #F2F2F2;
}
/*好品质*/
.s3 > a{
    background: url("../images/146768149464825010.png") no-repeat;
    background-size: 100% 1.2rem;
    border-bottom: 1px solid #F2F2F2;
}
.s3 .pricerite-bom a,.s4 .pricerite-bom a{
    width: 50%;
}
/*特色好货*/
.s4 > a{
    background: url("../images/146768151303980980.png") no-repeat;
    background-size: 100% 1.2rem;
    border-bottom: 1px solid #F2F2F2;
}
/*热门市场*/
.s5 > a{
    background: url("../images/146768153130917144.png") no-repeat;
    background-size: 100% 1.2rem;
    border-bottom: 1px solid #F2F2F2;
}
.s5 .pricerite-bom a{
    width: 33.333%;
}
/*苏宁金融*/
.s6 > a{
    background: url("../images/146768154241823263.png") no-repeat;
    background-size: 100% 1.2rem;
    border-bottom: 1px solid #F2F2F2;
}